<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Library Management System{% endblock %}</title><meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'bibliotecas' %}">Bibliotecas</a></li>
          <li><a href="{% url 'libros' %}">Libros</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
